body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.panel-heading {
    background-color: #0000ff;
    color: white;
}

.panel-body {
    background-color: white;
    border: 1px solid #0000ee;
}